.header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid rgb(156, 50, 68);
  border-bottom: solid rgb(87, 82, 83);
  color: #f7f7f7af;
  cursor: pointer;
}
.h1 {
  width: 60%;
  font-size: 2.5em;
  letter-spacing: 1.7px;
  padding: 0 5vw;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.h1:hover {
  background-color: rgba(87, 82, 83, 0.431);
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  height: 100%;
  font-size: 1.4em;
}
.li {
  border-left: solid 1px rgb(87, 82, 83);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.li:hover {
  background-color: rgba(87, 82, 83, 0.431);
}
